@font-face {
    font-family: AvenirNext;
    src: url(/storage/AvenirNext/Avenir-Light.ttf);
}

body {
    margin: 0px;
}

head {
    height: 0px;
}

#title {
    margin-top: 0px;
}

#header {
    background-color: #2170ba;
}

h1 {
    font-family: AvenirNext;
    text-align: center;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h2 {
    font-family: AvenirNext;
    text-align: center;
}